PORT=3000
DB_DATABASE=tienda
DB_USER=erick
DB_PASSWORD=1234
DB_HOST=localhost
DB_PORT=5432
JWT_SECRET=TOGXlHF2IkzffRdjaWXARk+eCxMfcBiAuTQBa+GqZ2w=

TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJjbGllbnRlSWQiOjEsImlhdCI6MTc4OTYwNTc0NSwiZXhwIjoxNzg5NjEyOTQ1fQ.uoGVNO9jCxar4KUxt_gBjhcNYPJPjWarUz-My8HO2ek